<% if current_user.has_role?(:admin) %>
<div class="panel-heading">
  <h4 class="panel-title">
    <a data-toggle="collapse" href="#collapseOne">
      <div class="<%= 'active' if @location[:menu] == 'materials' %>">
        <i class="material-icons">description</i>Materiales</div>
    </a>
  </h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in">
  <ul class="list-group">
    <%= render 'layouts/navigation/admin/materials' %>
  </ul>
</div>

<% end %>
