<% if current_user.has_role?(:admin) %>
<div class="panel-heading">
  <h4 class="panel-title">
    <a  data-toggle="collapse" href="#collapseTwo">
      <div class="<%= 'active' if @location[:menu] == 'inventory' %>">
        <i class="material-icons">import_contacts</i>Inventario</div>
    </a>
  </h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse in">
  <ul class="list-group">
    <%= render 'layouts/navigation/admin/inventory' %>
  </ul>
</div>
<% end %>
