.footer
  .container
    .row.justify-content-center      
      .col-lg-4
        %center
          %p.large
            Powered by:
            %a.footer{:href => "https://www.facebook.com/InclusoftColombia/"}
              Inclusoft.    
        .col-lg-12
          %center
            %a{:href => "https://www.facebook.com/Tresciclaje/ ", :target => "_blank"}
              = image_tag("Icono_Facebook.png", width:"40", height:"auto", :alt => "siguenos en facebook", :title => "siguenos en facebook")
            %a{:href => "https://www.instagram.com/tresciclaje/  ", :target => "_blank"}
              = image_tag("Icono_Instagram.png", width:"40", height:"auto", :alt => "siguenos en instagram", :title => "siguenos en instagram")
            %a{:href => "https://twitter.com/tresciclaje ", :target => "_blank"}
              = image_tag("Icono_Twitter.png", width:"40", height:"auto", :alt => "siguenos en twitter", :title => "siguenos en twitter")
