.col-sm-10.col-md-10
  .panel.panel-default
    .panel-heading
      %h3 Cantidad De Material
    .panel-body
      %table.table.table-bordered
        %thead
          %tr
            %th Material
            %th Kg
            %th Detalles
        %tbody
          %tr
            %td
            %td
            %td
    .container-fluid
      .col-sm-12.col-md-12
        .col-sm-4.col-md-4
          %center
            %i.material-icons.large.icon-demo{:style => "font-size: 120px;"} local_florist
            %br/
            %h5
              Arboles Salvados
        .col-sm-4.col-md-4
          %center
            %i.material-icons.large.icon-demo{:style => "font-size: 120px;"} invert_colors
            %br/
            %h5
              Agua Ahorrada
        .col-sm-4.col-md-4
          %center
            %i.material-icons.large.icon-demo{:style => "font-size: 120px;"} local_florist
            %br/
            %h5
              Arboles Salvados
